@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --font-primaria:"Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.menu{
    display: flex;
    gap: 80px;
}

.menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}
.container{
    padding:5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}
.apresentacao_paragrafo{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}
.subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-weight: 64px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    
    
}

.buttons:hover {
    background-color: var(--cor-hover);
}
.imagemJoana{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    background-color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .cabecalho {
        padding: 10%;
    }
    .menu {
        justify-content: center;
    }
    .apresentacao {
        width: auto;
    }
}